<!doctype html>
<html lang="{{ i18n.locale() }}">
<head>
  <meta charset="utf-8">
  <title>{% block title %}camin.io &middot; authorization{% endblock %}</title>

  {% block head %}
  <link rel="stylesheet" href="/stylesheets/caminio-ui/components/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/caminio-ui.css" />
  <script type="text/javascript" src="/javascripts/caminio-ui/direct/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/caminio-ui/direct/bootstrap.js"></script>
  {% endblock %}

</head>
<body>
  {% block content %}
  {% endblock %}
</body>
</html>
