doctype html
html(lang=i18n.locale())
  head
    title camin.io
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(http-equiv="cleartype", content="on")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name="application-name", content="caminio")
    meta(name='csrf-param', content=csrf)

    //link(rel='apple-touch-startup-image', href='/images/ios-startup-images-landscape.png', media='(orientation:landscape)')
    //link(rel='apple-touch-startup-image', href='/images/ios-startup-images-portrait.png', media='(orientation:portrait)')
    //link(rel='apple-touch-icon', href='/images/icon.png')

    if env === 'production'
      link(resl='stylesheet', href='/stylesheets/caminio-ui.min.css')
    else
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/opensans.css')
      link(rel='stylesheet', href='/stylesheets/caminio-ui-static/font-awesome.css')
      link( rel='stylesheet', href='/stylesheets/caminio-ui/bootstrap-overrides.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/form.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/common.css' )
      link( rel='stylesheet', href='/stylesheets/caminio-ui/authorization.css' )

    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')

    block head

    body.side-panel-active

      block content

      block foot

      script(type='text/javascript').
        jQuery(function($){
          $('.login-box-wrap').fadeIn(500, function(){
            $(this).find('input[type=text]:first').focus();
          });
        })