<div id="side-panel">
  <div class="account-info">
    <img src="/images/caminio-ui/avatar_100x100.png" class="avatar pull-left">
    <div class="pull-left username">{{currentUser.name.full}}</div>
  </div>
  <ul class="nav">
    {{#each allowedApps}}
      <li class="clearfix {{#isActiveController name}}active{{/isActiveController}}">
        <a href="/{{path}}" class="pull-left"><i class="pull-left fa fa-{{icon}}"></i><span class="title">{{tControllerName name}}</span></a>
      </li>
    {{/each}}
  </ul>
</div>