{{#contentFor 'head'}}
  <link rel="stylesheet" href="/stylesheets/caminio-ui.css" />
{{/contentFor}}
{{#contentFor 'foot'}}
  {{#env 'production'}}
    <script type="text/javascript" src="/javascripts/caminio-ui/main.min.js"></script>
  {{/env}}
  {{#env 'development'}}
    <!-- bower:js -->
    <script src="assets/javascripts/components/jquery/jquery.js"></script>
    <script src="assets/javascripts/components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <script type="text/javascript" src="/javascripts/caminio-ui/src/main.js"></script>
  {{/env}}
{{/contentFor}}

{{#contentFor 'content'}}

<h1>ADMIIIIIIIN</h1>
{{/contentFor}}