extends ../../../../caminio-ui/api/views/layouts/application

append head
  if env === 'production'
    link( rel='stylesheet', href='/stylesheets/caminio-ui.min.css' )
    link( rel='stylesheet', href='/stylesheets/caminio-admin.min.css' )
  else
    link( rel='stylesheet', href='/stylesheets/caminio-ui/admin.css' )


append foot
  if env === 'production'
    script(type='text/javascript', src='/javascripts/caminio-ui.min.js')
  else
    script(type='text/javascript', src='/javascripts/caminio-ui/locales/#{currentLang}.js')
    script(type='text/javascript', src='/javascripts/caminio-ui/models/user.js')
    script(type='text/javascript', src='/javascripts/caminio-ui/models/domain.js')
    script(type='text/javascript', src='/javascripts/caminio-ui/router.js')
    script(type='text/javascript', src='/javascripts/caminio-ui/controllers/user_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-ui/controllers/domain_controller.js')
           
  script(type="text/x-handlebars")
    include hbs/app.hbs

  script(type="text/x-handlebars", data-template-name="users/index")
    include hbs/users/index.hbs

  script(type="text/x-handlebars", data-template-name="users/new")
    include hbs/users/new.hbs

  script(type="text/x-handlebars", data-template-name="user/edit")
    include hbs/users/edit.hbs

  script(type="text/x-handlebars", data-template-name="user/general")
    include hbs/users/_general.hbs


  script(type="text/x-handlebars", data-template-name="domains/index")
    include hbs/domains/index.hbs

  script(type="text/x-handlebars", data-template-name="domains/new")
    include hbs/domains/new.hbs

  script(type="text/x-handlebars", data-template-name="domain/edit")
    include hbs/domains/edit.hbs

  script(type="text/x-handlebars", data-template-name="domain/form")
    include hbs/domains/_form.hbs

block content

  aside#notifications.notifications