extends ../layouts/application

append foot
  if env === 'production'
    script(type='text/javascript', src='/javascripts/caminio-ui.min.js')
  else
    script(type='text/javascript', src='/javascripts/caminio-ui/components/requirejs/require.js', data-main='/javascripts/caminio-ui/app/main')

if env !== 'production'
  append head
    link( rel='stylesheet', href='/stylesheets/caminio-ui/admin.css' )

block content
  #applicationHost.main-view
    #splash
      .text=t('initializing_application')
      .loader
        .circle
        .circle
        .circle
        .circle
        .circle
