<table class="caminio">
  <thead>
    <tr>
      <th data-bind="text: $.i18n.t('nr')" class="nr"></th>
      <th data-bind="text: $.i18n.t('name')"></th>
      <th data-bind="text: $.i18n.t('domain.owner')"></th>
      <th data-bind="text: $.i18n.t('domain.apps')"></th>
      <th data-bind="text: $.i18n.t('created_at')"></th>
      <th class="align-right" style="width: 150px"></th>
    </tr>
  </thead>

  <tbody data-bind="foreach: resources">
    <tr data-bind="event: { dblclick: $parent.showForm }">
      <td data-bind="text: $index()+1" class="nr"></td>
      <td>
        <strong data-bind="text: name"></strong>
        <!-- ko if: id === currentDomain.id -->
          &nbsp; 
          <span class="lbl warning small" data-bind="text: $.i18n.t('domain.current')"></span>
        <!-- /ko -->
        <!-- ko if: title() && title().length > 0 -->
        <br />
        <small data-bind="text: title"></small>
        <!-- /ko -->
      </td>
      <td data-bind="text: owner().name.full"></td>
      <td data-bind="text: allowedAppNames().join(',')"></td>
      <td data-bind="text: $parent.date(created().at)"></td>
      <td class="actions align-right">
        <!-- ko if: id !== currentDomain.id -->
        <a class="btn small" data-bind="attr: { href: '/caminio?camDomainId='+id }, text: $.i18n.t('domain.switch_to')"></a>
        <!-- /ko -->
        <a class="btn small icon-text" data-bind="attr: { href: '#domains/'+id, title: $.i18n.t('domain.edit') }"><i class="fa fa-pencil"></i> <span data-bind="text: $.i18n.t('edit') "></span></a>
      </td>
    </tr>
  </tbody>
</table>