#side-panel
  .account-info
    img(src='/images/avatar_100x100.png', class='avatar pull-left')
    .pull-left.username(title=currentUser.fullname)=currentUser.fullname
  ul.nav
    each app in allowedApps
      li.clearfix(class=(app.name === controllerName.replace('Controller','').toLowerCase() ? 'active' : ''))
        a.pull-left(href=app.path)
          i.pull-left.fa(class='fa-'+app.icon)
          span.title=t('navbar.'+app.name)
  aside.sideinfo
    header
      =t('system_status')

    each sideinfobox in sideinfoBoxes
      !=sideinfobox
