#side-panel
  .account-info
    img(src='/images/avatar_100x100.png', class='avatar pull-left')
    .pull-left.username(title=currentUser.name.full)=currentUser.name.full
  ul.nav
    each app in allowedApps
      li.clearfix(class=(app.name === controllerName.replace('Controller','').toLowerCase() ? 'active' : ''))
        a.pull-left(href=app.path)
          i.pull-left.fa(class='fa-'+app.icon)
          span.title=t('navbar.'+app.name)