header.top-panel.fixed
  .brand.pull-left
    a#toggle-side-panel.btn.transparent.toggle-side-panel.borderless.pull-left
      i.fa.fa-bars

  ul.ctrl.pull-right
    li.pull-right
      a.ctrl-btn.icn.pull-right(href='/caminio/logout')
        i.fa.fa-sign-out
    li.pull-right
      a.account-info.ctrl-btn.pull-right( href='/caminio/profiles/'+currentUser._id )
        img.avatar.pull-left( src='/images/bot_128x128.png' )
        span.pull-left.username=currentUser.fullname
    li.pull-right.dropdown
      a.dropdown-toggle.dropdown-hover.domain.ctrl-btn.pull-right( data-toggle='dropdown' )
        span.pull-left.domainname=(currentDomain ? currentDomain.name : 'no domain')
        i.fa.fa-caret-down
      ul.dropdown-menu( role='menu' )
        each camDomain in currentUser.camDomains
          li( role='presentation' )
            a(href='/caminio/admin?camDomainId='+camDomain.id)=camDomain.name