body, html{
  height: 100%;
  font-size: 12px;
  background: #fafafa;
}


.login-box-wrap{
  display: none;
  height: 100%;
}

.login-box{
  max-width: 500px;
  display: table;
  height: 90%;
  margin: 0 auto;
}

.message{
  background: #5BC0DE;
  margin: 20px 0;
  padding: 15px;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  max-width: 485px;
}

.message.error{
  background: #d55;
}

form.auth{
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.meta-wrap{
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.meta-wrap a{
  color: #aaa;
}

.meta-wrap a:hover{
  color: #333;
}

.domain-container,
.email-container,
.password-container{
  display: inline-block;
  position: relative;
}

.domain-container:before,
.email-container:before,
.password-container:before{
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  vertical-align: -7%;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f003";
  font-size: 1.1rem;
  position: absolute;
  bottom: 11px;
  left: 8px;
  z-index: 100;
  color: #aaa;
}

.password-container:before{
  content: "\f023";
  left: 10px;
  bottom: 10px;
}

.domain-container:before{
  content: "\f015";
  left: 10px;
  bottom: 10px;
}

.domain-container{
  margin-bottom: 5px;
}

form.auth button{
  width: 40px;
  padding: 4px 8px;
  font-size: 18px;
  margin-left: 5px;
  margin-bottom: 2px;
}

form.auth button.btn:hover,
form.auth button.btn:focus{
  outline: none !important;
  background-color: #5CB85C;
  transition: all 0.3s;
}

form.auth input[type=text],
form.auth input[type=password]{
  border-radius: 2px;
  width: 220px;
  text-indent: 2.2rem;
  padding: 9px 0;
  transition: all 0.5s;
}

form.auth input[type=text]:focus,
form.auth input[type=password]:focus{
  border-radius: 2px;
  border-color: #999;
  background-color: #fafafa;
  outline: none !important;
  transition: all 0.5s;
}
