body, html{
  height: 100%;
  font-size: 12px;
  /*background-color: #f60;*/
  background-color: #4DA5EF;
}

.logo{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.login-box-wrap{
  display: none;
  height: 100%;
}

.login-box{
  width: 100%;
  display: table;
  height: 90%;
  margin: 0 auto;
}

.login-box .row-wrap{
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 30px;
  box-shadow: 2px 0 2px #ccc, -2px 0 2px #ccc;
}

.login-box .row{
  width: 50%;
  margin: 0 auto;
}

.message{
  background: #5BC0DE;
  margin: 0 auto 20px 23%;
  padding: 15px;
  color: #fff;
  font-weight: 600;
  max-width: 50%;
}

.message.error{
  background: #d55;
}

form.auth{
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}

.meta-wrap.row{
  margin-top: 0.5rem;
  padding-left: 2.8rem;
  font-size: 0.9rem;
}

.meta-wrap a{
  color: rgba(255,255,255,0.7);
}

.meta-wrap a:hover{
  color: #fff;
}

.domain-container,
.email-container,
.password-container{
  display: inline-block;
  position: relative;
}

.domain-container:before,
.email-container:before,
.password-container:before{
  bottom: 12px;
  color: #ccc;
  content: "";
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  left: 24px;
  line-height: 1;
  position: absolute;
  text-transform: none;
  vertical-align: -7%;
  z-index: 100;
  font-size: 16px;
}

.password-container:before{
  content: "\f023";
  left: 26px;
  bottom: 11px;
}

.domain-container:before{
  content: "\f015";
  left: 24px;
}

.domain-container{
  margin-bottom: 5px;
}

form.auth button{
  padding: 5px 15px;
  margin-left: 5px;
  margin-bottom: 2px;
  font-weight: 600;
  text-transform: uppercase;
}

form.auth input[type=text],
form.auth input[type=password]{
  border-radius: 0;
  text-indent: 2.5rem;
  padding: 5px 0;
  transition: all 0.5s;
  width: 100%;
  font-weight: 600;
  margin-bottom: 0.5em;
}

form.auth label.control-label{
  font-size: 0.9em;
  font-weight: 600;
}

form.auth input[type=text]:focus,
form.auth input[type=password]:focus{
  border-radius: 2px;
  box-shadow: none;
  background-color: #fff;
  outline: none !important;
  transition: all 0.5s;
}
