.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.horizontal-scroll{
  overflow-x: auto;
}
.fixed{
  position: fixed;
}
.btn{
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
}
.borderless{
  border: none;
}
.position-relative{
  position: relative;
}

/* ------------------------------------------------ widgets */

.btn{
  padding: 3px 7px;
  color: #555;
  border-radius: 0;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
  opacity: 1;
  font-size: 12px;
}

.btn.disabled,
.btn[disabled]{
  background-color: #ddd !important;
  color: #888;
  cursor: not-allowed !important;
}

.btn:hover{
  color: #fff;
  background-color: #373737;
  background-image: linear-gradient(to bottom, #373737, #272727);
  outline: none !important;
}
.btn:active,
.btn:focus{
  color: #fff;
  background-color: #373737;
  background-image: linear-gradient(to bottom, #373737, #272727);
  outline: none !important;
}

a.btn,
button.btn,
.btn a{
  cursor: pointer;
  text-decoration: none;
}
div.btn{
  display: inline-block;
}
div.btn.icon-only{
  padding: 7px;
}

.btn.small{
  padding: 3px 5px;
}

.btn.large{
  padding: 10px;
}

.btn.adapt-to-form{
  padding: 8px 15px;
}

.btn.tiny{
  padding: 2px 5px;
  font-size: 10px;
}

.btn.pale{
  background: none;
  color: inherit;
}

.btn.close{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #AAAAAA;
  font-size: 1.2rem;
  margin: -10px 0;
  padding: 6px 8px;
}

.btn.close:hover{
  color: #333;
}

.btn.primary{
  background: #4877D6;
  color: #fff;
  border-color: #25b;
}

.btn.secondary{
  background: #f91;
  color: #fff;
}
.btn.danger,
.btn.highlight-danger:hover,
.btn.highlight-danger:focus,
.lbl.danger{
  background: #D9534F !important;
  color: #fff;
}

.btn.warning,
.lbl.warning{
  background: #F0AD4E;
  color: #fff;
}

.btn.light{
  background: #ccc;
}

.btn.info,
.lbl.info{
  background: #5BC0DE;
}

.btn.success,
.lbl.success{
  background: #5CB85C;
  color: #fff;
}

.btn.transparent{
  background: none;
  color: #444;
}

.btn.transparent:hover{
  background-color: #ddd;
  transition: background-color 0.5s;
}

.lbl{
  padding: 2px 5px;
  border-radius: 2px;
  color: #fff;
  background-color: #ddd;
}

.text-icon .fa{
  margin: -1px 0 0 10px;
}
.icon-text .fa{
  margin: -1px 5px 0 0;
}
.icon-only{
  padding: 5px 7px;
}

.btn.black{
  background-color: #373737;
}

.desc{
  color: #777;
  font-size: 0.8em;
}

.box{
  border: 1px solid #ccc;
}

.box-title{
  /*background-color: #eee;*/
  color: #777;
  padding: 7px;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
}

.box-title .close{
  margin: -3px -3px 0 0;
  padding: 2px 5px;
  border: none;
}

.box-title .btn-group{
  margin: -5px 5px 0;
}

.box .header{
  background-color: #373737;
  color: #fff;
  padding: 15px 10px 10px;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.box .content{
  padding: 20px;  
}

.box.remove-padding{
  
}

.search{
  display: inline-block;
  position: relative;
}
.search input[type=text]{
  padding: 5px 30px 5px 0;
  text-indent: 5px;
  font-size: 14px;
  border-radius: 2px;
  width: 150px;
  transition: all 0.8s;
}
.search button{
  border: none;
  background: none;
  font-size: 14px;
  float: right;
  position: absolute;
  top: 3px;
  right: 4px;
  width: 25px;
  height: 25px;
  color: #777;
}
.search input[type=text]:hover,
.search input[type=text]:focus{
  width: 250px;
  transition: all 0.8s;
}

.margin-top{
  margin-top: 10px;
}
.margin-left{
  margin-left: 10px;
}
.margin-right{
  margin-right: 10px;
}
.box.default-padding{
  padding: 20px;
}