.align-right{
  text-align: right;
}
.align-center{
  text-align: center;
}
.horizontal-scroll{
  overflow-x: auto;
}
.fixed{
  position: fixed;
}
.fill-width{
  width: 100%;
}
.btn{
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 2px;
}
.borderless{
  border: none;
}
.position-relative{
  position: relative;
}

/* ------------------------------------------------ widgets */

.btn{
  padding: 3px 7px;
  color: #555;
  border-radius: 0;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #FFFFFF, #EEEEEE);
  opacity: 1;
  font-size: 12px;
}

.btn.disabled,
.btn[disabled]{
  background-color: #ddd !important;
  color: #888;
  cursor: not-allowed !important;
}

.btn:hover{
  color: #fff;
  background-color: #373737;
  background-image: linear-gradient(to bottom, #373737, #272727);
  outline: none !important;
}
.btn:active,
.btn:focus{
  color: #fff;
  background-color: #373737;
  background-image: linear-gradient(to bottom, #373737, #272727);
  outline: none !important;
}

a.btn,
button.btn,
.btn a{
  cursor: pointer;
  text-decoration: none;
}
div.btn{
  display: inline-block;
}
div.btn.icon-only{
  padding: 7px;
}

.btn.small{
  padding: 3px 5px;
}

.btn.large{
  padding: 10px;
}

.btn.adapt-to-form{
  padding: 8px 15px;
}

.btn.tiny{
  padding: 2px 5px;
  font-size: 10px;
}

.btn.pale{
  background: none;
  color: inherit;
}

.btn.close{
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #AAAAAA;
  font-size: 1.2rem;
  margin: -10px 0;
  padding: 6px 8px;
}

.btn.close:hover{
  color: #333;
}

.btn.primary{
  background: #4877D6;
  color: #fff;
  border-color: #25b;
}

.btn.secondary{
  background: #f91;
  color: #fff;
}
.btn.danger,
.btn.highlight-danger:hover,
.btn.highlight-danger:focus,
.lbl.danger{
  background: #D9534F !important;
  color: #fff;
}

.btn.warning,
.lbl.warning{
  background: #F0AD4E;
  color: #fff;
}

.btn.light{
  background: #ccc;
}

.btn.info,
.lbl.info{
  background: #5BC0DE;
}

.btn.success,
.lbl.success{
  background: #5CB85C;
  color: #fff;
}

.btn.transparent{
  background: none;
  color: #444;
}

.btn.transparent:hover{
  background-color: #ddd;
  transition: background-color 0.5s;
}

.lbl{
  padding: 2px 5px;
  border-radius: 2px;
  color: #fff;
  background-color: #ddd;
}

.text-icon .fa{
  margin: -1px 0 0 10px;
}
.icon-text .fa{
  margin: -1px 5px 0 0;
}
.icon-only{
  padding: 5px 7px;
}

.btn.black{
  background-color: #373737;
}

.desc{
  color: #777;
  font-size: 0.8em;
}

.box{
  border: 1px solid #ccc;
  position: relative;
}

.box.fill-box{
  background: #f5f5f5;
  border: 1px solid #ddd;
}
.box .center-box{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -40px auto auto;
  text-align: center;
  width: 50%;

}
.box-title{
  color: #666;
  padding: 9px 15px 5px;
  font-weight: 600;
  font-size: 0.95em;
  text-transform: uppercase;
}

.box-title .close{
  margin: -2px -3px 0 0;
  padding: 2px 5px;
  border: none;
}

.box-title .btn-group{
  margin: -5px 5px 0;
}

.box-title .ctrl{
  float: right;
  margin: -7px -12px 0 0;
}

.box-header{
  padding: 5px;
}

.box-header .close.btn{
  margin: 2px 5px;
}

.box-header .btn:not(.close){
  float: right;
  margin: 4px;
}

.box-body{
  padding: 20px;  
}

.margin-top{
  margin-top: 10px;
}
.margin-left{
  margin-left: 10px;
}
.margin-right{
  margin-right: 10px;
}
.box.default-padding{
  padding: 20px;
}
.animate-width{
  transition: width 0.5s;
}

.top-navbar li{
  float: left;
  margin-left: 20px;
  list-style: none;
  margin-top: 5px;
}

.top-navbar a{
  padding: 7px 15px;
  border-bottom: 3px solid transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: #777;
}

.top-navbar a:active,
.top-navbar a:hover,
.top-navbar a:visited,
.top-navbar a:focus{
  text-decoration: none;
  outline: none;
}


.top-navbar a.active{
  border-bottom-color: #c83737;
  color: #c83737;
  font-weight: 600;
}