.dashboard.main-view{
  background: none;
  border: none;
  box-shadow: none;
}

.dashboard-box{
  border: 1px solid #bbb;
  background-color: #fafafa;
  margin: 20px;
  float: left;
  position: relative;
  height: 240px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  min-width: 300px;
}
.dashboard-box:after,
.dashboard-box:before{
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 6px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.dashboard-box:after{
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

.dashboard-box .info-label{
  background: none repeat scroll 0 0 #BD3D3A;
  color: #FFFFFF;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 25px;
}

.dashboard-box .info-label.blue{
  background: none repeat scroll 0 0 #3b5fa0;
}
.dashboard-box .info-label.blue:before{
  background: none repeat scroll 0 0 #3b5fa0;
}

.dashboard-box .info-label:before{
  background: none repeat scroll 0 0 #BD3D3A;
  border-color: rgba(0, 0, 0, 0) -moz-use-text-color rgba(0, 0, 0, 0) #FAFAFA;
  border-style: solid none solid solid;
  border-width: 14px 0 14px 14px;
  content: " ";
  height: 0;
  left: -10px;
  position: absolute;
  top: 0;
  width: 0;
}

.wide-box{
  width: 100%;
}

.wide-box .dashboard-box{
  height: 150px;
  min-width: 150px;
}

.welcome-box{
  margin: 50px 100px;
  float: left;
}
.dashboard-box.colorbox{
  background: #bd3d3a; /* Old browsers */
  background: -moz-linear-gradient(top,  #bd3d3a 0%, #d3544b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd3d3a), color-stop(100%,#d3544b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bd3d3a 0%,#d3544b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bd3d3a 0%,#d3544b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bd3d3a 0%,#d3544b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bd3d3a 0%,#d3544b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd3d3a', endColorstr='#eba37b',GradientType=0 ); /* IE6-9 */

  color: #fff;
}

.welcome{
  font-size: 2em;
}

.welcome-box .title{
  text-transform: uppercase;
  color: #999;
  font-size: 0.8em;
  margin-top: 1em;
}

.welcome-box .fa{
  color: #555;
  margin-right: 5px;
}

.dashboard-box-body{
  padding: 20px;
}

.dashboard-box .title{
  margin-top: 0;
}

.dashboard-box .title.small{
  font-size: 1.5rem;
}

.dashboard-box .master-img{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dashboard-box .master-title{
  margin: 10px 0 0;
  font-size: 1.2rem;
}

.dashboard-box .sub-master-title{
  font-size: 1rem;
  margin-bottom: 20px;
}

.dashboard-box .big-title{
  font-size: 3.2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}

.dashboard-box .exp-title{
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  margin: 5px 0 15px;
  text-transform: uppercase;
}

.dashboard-box h4{
  font-size: 1rem;
  text-transform: uppercase;
  color: #999;
  margin: 33px 0 0.5rem 20px;
}