.dashboard.main-view{
  background: none;
  border: none;
  box-shadow: none;
}

.dashboard-boxes{
  width: auto;
  margin-right: 320px;
}

.dashboard-box{
  border: 1px solid #bbb;
  background-color: #fafafa;
  margin: 20px;
  float: left;
  position: relative;
  height: 240px;
  width: 45%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.dashboard-box:after,
.dashboard-box:before{
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 6px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.dashboard-box:after{
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

.dashboard-box .info-label{
  background: none repeat scroll 0 0 #BD3D3A;
  color: #FFFFFF;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 25px;
}

.dashboard-box .info-label.blue{
  background: none repeat scroll 0 0 #3b5fa0;
}
.dashboard-box .info-label.blue:before{
  background: none repeat scroll 0 0 #3b5fa0;
}

.dashboard-box .info-label:before{
  background: none repeat scroll 0 0 #BD3D3A;
  border-color: rgba(0, 0, 0, 0) -moz-use-text-color rgba(0, 0, 0, 0) #FAFAFA;
  border-style: solid none solid solid;
  border-width: 14px 0 14px 14px;
  content: " ";
  height: 0;
  left: -10px;
  position: absolute;
  top: 0;
  width: 0;
}

.wide-box{
  width: 100%;
}

.wide-box .dashboard-box{
  height: 150px;
  min-width: 150px;
}

.dashboard-box.colorbox{
  background: #bd3d3a; /* Old browsers */
  background: -moz-linear-gradient(top,  #bd3d3a 0%, #d3544b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd3d3a), color-stop(100%,#d3544b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #bd3d3a 0%,#d3544b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #bd3d3a 0%,#d3544b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #bd3d3a 0%,#d3544b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #bd3d3a 0%,#d3544b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd3d3a', endColorstr='#eba37b',GradientType=0 ); /* IE6-9 */

  color: #fff;
}

.welcome{
  font-size: 2em;
}

.dashboard-box-body{
  padding: 20px;
}

.dashboard-box .title{
  margin-top: 0;
}

.dashboard-box .title.small{
  font-size: 1.5rem;
}

.dashboard-box .master-img{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.dashboard-box .master-title{
  margin: 10px 0 0;
  font-size: 1.2rem;
}

.dashboard-box .sub-master-title{
  font-size: 1rem;
  margin-bottom: 20px;
}

.dashboard-box .big-title{
  font-size: 3.2rem;
  line-height: 3rem;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}

.dashboard-box .exp-title{
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2rem;
  margin: 5px 0 15px;
  text-transform: uppercase;
}

.dashboard-box h4{
  font-size: 1rem;
  text-transform: uppercase;
  color: #999;
  margin: 33px 0 0.5rem 20px;
}

.top-info-box{
  margin: 10px 20px;
  width: auto;
  padding: 10px
}

.top-info-box .col:first-child,
.top-info-box .col:last-child{
  border:none
}

.top-info-box .col{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.top-info-box .fa{
  float: left;
  margin: 2px 5px 0 0;
}
.top-info-box label{
  color: #999;
  text-transform: uppercase;
  font-size: 0.8em;
}

.live-ticker{
  float: right;
  width: 320px;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 0;
  margin-right: 20px;
}

.live-ticker h4{
  text-align: right;
  margin: 0;
  padding: 5px;
  font-size: 1em;
  line-height: 1.2em;
}

.live-ticker form.caminio{
  padding: 0;
}

.live-ticker .fa{
  font-size: 18px;
  float: left;
  margin: -1px;
  color: #777;
}
.live-ticker h4 .text{
  font-weight: 100;
  color: #999;
  text-transform: uppercase;
}
#toggle-live-ticker{
  padding: 0 3px;
  margin-left: 5px;
}

.live-ticker .composer-ctrl{
  text-align: right;
  margin-top: 5px;
  background: #f7f7f7;
  border-top: 1px solid #ddd;
}

.live-ticker .composer .btn{
  margin:2px;
  float: right;
}

.live-ticker .composer-ctrl .abtn{
  padding: 7px 10px;
  border: none;
  background: none;
  border-left: 1px solid #ccc;
}

.live-ticker .composer-ctrl .abtn .fa{
  color: #bbb;
}

.live-ticker .composer-status{
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.live-ticker .composer-status .btn{
  font-size: 0.85em;
  background: none;
  border: none;
  font-weight: 600;
  padding: 0;
  margin-right: 5px;
}
.live-ticker .composer-status .btn .fa{
  color: #fff;
  font-size: 1em;
  padding: 3px 4px;
  float: left;
  margin: -1px 5px 0 0;
  border: 1px solid #36b;
  background-color: #4877D6;
}
.live-ticker .composer-status .btn:hover,
.live-ticker .composer-status .btn:focus{
  background: inherit;
  color: inherit;
}

.live-ticker .composer-placeholder{
  color: #999;
  font-size: 1.1em;
  margin: 5px;
}

.live-ticker .composer textarea{
  display: none;
}

.live-ticker .entries{
}

.live-ticker .entry{

}

.micro-wiki{
  border: 1px solid #ddd;
  min-height: 100px;
  background: #fff;
  margin: 0 350px 0 20px;
}
