input[type=text],
input[type=password],
textarea{
  padding: 6px;
  /*border: 1px solid #ccc;*/
  border: none;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.2);
  border-radius: 0;
  transition: all 0.8s;
}

form.caminio .form-control:hover,
form.caminio .form-control:focus{
  border-color: #777;
  box-shadow: 0 1px 3px rgba(100, 100, 100, 0.5);
}

form.caminio textarea.form-control{
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.2);
}

form.caminio .form-actions{
  float: right;
  margin: 10px;
}

form.caminio .help-block{
  transition: 0.8s;
}

form.caminio .field-with-error .help-block{
  color: #d00;
  font-size: 1rem;
  line-height: 1.2rem;
  transition: all 0.3s;
}

form.caminio .field-with-error textarea,
form.caminio .field-with-error input{
  border-color: #d00;
  background: #fdd;
  transition: all 0.3s;
}

label{
  font-weight: 500;
}

form.caminio label.big-label{
  font-size: 1.15em;
  font-weight: 600;
  color: #999;
}

form.caminio .checkbox-field{
  cursor: pointer;
  margin: 7px 0;
}

form.caminio .checkbox-field .fa{
  margin: 1px 8px 0 0;
  font-size: 18px;
}

form.caminio select{
  padding: 5px 10px;
  border-radius: 0;
}

form.caminio .control-label.required:after{
  content: '*';
  color: #d00;
  margin-left: 3px;
  font-size: 0.8em;
  float: right;
}

form.caminio .required-exp{
  font-size: 0.9rem;
}

form.caminio .close-inside-form{
  margin: 0 -5px 0 10px;
}

form.caminio .select2-container .select2-choice{
  border: none;
  background: #fff;
  box-shadow: 0 1px 3px rgba(128, 128, 128, 0.2);
  border-radius: 0;
}
form.caminio .select2-container .select2-choice .select2-arrow{
  border: none;
  background: #fff;
  border-radius: 0;
}
form.caminio .select2-container .select2-choice .select2-arrow b{
  background: none;
}
form.caminio .select2-container .select2-choice .select2-arrow b:before{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f107";
  float: right;
  margin: 9px 10px 0;
}
body .select2-drop-active{
  border: none;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  border-radius: 0;
}

body .select-2search{
  position: relative;
}

body .select2-search input{
  background: #fff;
  font-size: 14px;
  padding: 10px;
  border: none;
  box-shadow: none;
}

body .select2-search:after{
  -moz-osx-font-smoothing: grayscale;
  content: "\f002";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 16px;
  color: #999;
}