input[type=text],
input[type=password],
textarea{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 0;
}

form.caminio .form-control:hover,
form.caminio .form-control:focus{
  box-shadow: none;
  border-color: #777;
}

form.caminio .form-actions{
  float: right;
  margin: 10px;
}

form.caminio span.field-with-error{
  color: #d00;
  font-size: 1rem;
  line-height: 1.2rem;
}

form.caminio textarea.field-with-error,
form.caminio input.field-with-error{
  border-color: #d00;
  background: #fdd;
}

label{
  font-weight: 500;
}