input[type=text],
input[type=password],
textarea{
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 0;
}

form.caminio .form-control:hover,
form.caminio .form-control:focus{
  box-shadow: none;
  border-color: #777;
}

form.caminio .form-actions{
  float: right;
  margin: 10px;
}

label{
  font-weight: 500;
}