html,body{
  font: 13px 'OpenSans', sans-serif;
  background: #eee;
  /*font: 14px 'OpenSans', 'Open Sans', sans-serif;*/
}
.main-view{
  background: #fafafa;
  box-shadow: 2px 0 2px #ccc, -2px 0 2px #ccc;
  min-height: 500px;
  border-right: 4px solid transparent;
}
.main-view,
.plain-view{
  margin-top: 80px;
  max-width: 1200px;
}

.plain-view header{
  margin-bottom: 20px;
}

body.side-panel-active .plain-view,
body.side-panel-active .main-view{
  margin-left: 240px;
}
.main-inner-wrap{
  position: relative;
}
#splash{
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 300px;
}
#splash .text{
  font-size: 20px;
  color: #999;
  font-weight: 600;
  text-align: center;
}
#splash .loader{
  margin-top: 40px;
  width: 100px;
  height: 100px;
}
.navbar-container{
  position: absolute;
  top: -26px;
  left: 25px;
  right: 0;
  height: 20px;
}

.navbar-container .navbar{
  min-height: 26px;
}

/* -------------------------------------------------------- navbar */

.navbar{
  list-style: none;
  margin: 0;
}
.navbar li{
  float: left;
  margin: 0 5px;
}
.navbar li a{
  color: #555;
  text-decoration: none;
  padding: 5px 35px;
  font-size: 12px;
  position: relative;
  outline: 0;
  transition: background 0.6s;
  text-transform: uppercase;
}

.navbar li a:active,
.navbar li a.active{
  color: #444;
  font-weight: 700;
  /*box-shadow: -2px -2px 1px #ddd;*/
  transition: background 0.6s;
}

.navbar li a.active:before{
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-top: 15px solid #ccc;
  bottom: -16px;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -15px;
  position: absolute;
  width: 0;
}

.navbar li a.active:after{
  border-left: 15px solid rgba(0, 0, 0, 0);
  border-right: 15px solid rgba(0, 0, 0, 0);
  border-top: 15px solid #EEEEEE;
  bottom: -15px;
  content: "";
  height: 0;
  position: absolute;
  left: 50%;
  width: 0;
  margin-left: -15px;
}

.main-content{
  background: #fafafa;
  padding: 10px;
}

.main-content.with-subnav{
  margin-top: 80px;
}

.sub-nav-wrapper .ctrl{
  float: right;
  margin-top: 3px;
}

.sub-nav-wrapper .ctrl .btn{
  margin: 0 3px;
  float: right;
}

.sub-nav-wrapper .ctrl .close{
  padding: 5px 11px 6px;
  margin-right: 0;
}

.sub-nav-wrapper .ctrl .btn:hover{
  background: #fafafa;
  border-color: #ccc;
  border-bottom-color: #fafafa;
}

.sub-nav-wrapper .ctrl .icon-text .fa{
  font-size: 1rem;
  margin: 3px 6px 0 0;
  float: left;
}

.sub-navbar{
  margin-bottom: -1px;
  z-index: 10;
}

.sub-navbar > li{
  padding: 0 20px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-right: 1px;
}
.sub-navbar > li.active{
  background: #fafafa;
  /*box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.4)*/
}

.nav-pills.sub-navbar > li.active a,
.nav-pills.sub-navbar > li.active a:active,
.nav-pills.sub-navbar > li.active a:focus,
.nav-pills.sub-navbar > li.active a:visited,
.nav-pills.sub-navbar > li.active a:hover{
  color: #333;
  outline: none;
}

.sub-navbar > li a{
  padding: 8px 0;
}

.main-ctrl{
  margin-bottom: 20px;
  padding: 0;
}

.icon-text .fa{
  margin: 0 5px 0 0;
  font-size: 1rem;
}

.main-ctrl .btn-group a{
  margin: 0 5px;
}

.main-content .title{
  font-size: 24px;
  color: #aaa;
  margin: 10px 0 20px;
  font-weight: 600;
}
.main-content h1{
  margin: 40px 20px;
  font-size: 32px;
  color: #aaa;
  font-weight: 600;
}

.with-ctrl .main-ctrl{
  margin-top: 8px;
}
.with-ctrl h1{
  margin-top: 20px;
}

.box.title-box{
  border: none;
  height: 60px;
  padding-top: 15px;
}

.title-box h1{
  font-size: 2.5rem;
  font-weight: 100;
  margin: 0 25px 0 30px;
  padding: 9px 0 5px;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.title-box h1 .desc{
  font-size: 1rem;
  color: #999;
}


.title-box .main-ctrl{
  float: right;
  margin: 15px 25px 0;
}

.main-content .nav{
  margin-top: 1em;
  border-top: 1px dotted #ccc;
}

.sub-header{
  font-size: 2rem;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-weight: 100;
  margin-left: 1em;
}

.main-header{
  margin: 40px 0;
}

.main-header h1{
  font-weight: 100;
  font-size: 3.5rem;
  color: #f91;
  margin: 0 20px;
}
.main-header h2{
  font-weight: 500;
  font-size: 1.2rem;
  color: #777;
  margin: 5px 20px 0;
}

.span-row{
  margin: 10px;
}

.default-margin{
  margin: 10px;
}

.default-padding{
  padding: 20px;
}

h4.mini-title{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 1.5em;
}
.empty-exp{
  margin: 200px 0;
  font-size: 1.5rem;
  color: #999;
  text-align: center;
}
.empty-exp a{
  font-weight: 600;
}
.empty-exp .fa.large{
  font-size: 40px;
  color: #ccc;
}
.empty-exp .fa.large.block{
  display: block;
}

fieldset.with-border{
  border: 1px solid #ddd;
  padding: 5px 20px;
}
fieldset.with-border legend{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #999;
  margin: 0;
  width: auto;
  padding: 0 5px;
  border: none;
}