body{
  font: 14px 'OpenSans', 'Open Sans', sans-serif;
}
.main-view{ 
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ddd;
}
body.side-panel-active .main-view{
  left: 230px;
}
#splash{
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 300px;
}
#splash .text{
  font-size: 20px;
  color: #999;
  font-weight: 600;
  text-align: center;
}
#splash .loader{
  margin-top: 40px;
  width: 100px;
  height: 100px;
}
.navbar-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
}

/* -------------------------------------------------------- navbar */

.navbar{
  list-style: none;
  margin: 0;
}
.navbar li{
  float: left;
  margin: 50px 0 5px;
}
.navbar li a{
  color: #333;
  font-weight: 600;
  text-decoration: none;
  padding: 50px 35px 5px;
  font-size: 14px;
  transition: background 0.6s;
}

.navbar li a:active,
.navbar li a.active{
  background: #f91 !important;
  color: #fff;
  transition: background 0.6s;
}
.navbar li a:hover{
  background: #eee;
  transition: background 0.3s;
}

.main-content{
  background: #fafafa;
  padding: 10px;
}

.main-content.with-subnav{
  margin-top: 80px;
}

.sub-nav-wrapper .ctrl{
  float: right;
  margin-top: 5px;
}

.sub-nav-wrapper .ctrl .btn{
  margin: 0 3px;
  float: right;
}

.sub-nav-wrapper .ctrl .btn{
  text-transform: uppercase;
  font-weight: 600;
  color: #777;
  border: 1px solid transparent;
}

.sub-nav-wrapper .ctrl .close{
  padding: 5px 11px 6px;
  margin-right: 0;
}

.sub-nav-wrapper .ctrl .btn:hover{
  background: #fafafa;
  border-color: #ccc;
  border-bottom-color: #fafafa;
}

.sub-nav-wrapper .ctrl .icon-text .fa{
  font-size: 1rem;
  margin: 3px 6px 0 0;
  float: left;
}

.sub-navbar{
  margin-bottom: -1px;
  z-index: 10;
}

.sub-navbar > li{
  padding: 0 20px;
  border-top: 3px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.sub-navbar > li.active{
  background: #fafafa;
  border-top-color: #f91;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.4)*/
}

.sub-navbar > li a{
  padding: 7px 0;
}

.main-ctrl{
  margin-bottom: 20px;
  padding: 10px 0;
}

.icon-text .fa{
  margin: 0 5px 0 0;
  font-size: 1rem;
}

.main-ctrl .btn-group a{
  margin: 0 5px;
}

.main-content .title{
  font-size: 24px;
  color: #aaa;
  margin: 10px 0 20px;
  font-weight: 600;
}
.main-content h1{
  margin: 40px 20px;
  font-size: 32px;
  color: #aaa;
  font-weight: 600;
}
.main-content header.with-ctrl .main-ctrl{
  margin-top: 8px;
}
.main-content header.with-ctrl h1{
  margin-top: 20px;
}

.main-wrapper header h1{
  font-size: 4rem;
  color: #f91;
  font-weight: 100;
  margin: 20px 0 0 20px;
}
.main-wrapper header h2{
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #aaa;
  font-weight: 200;
  margin: 3px 20px 20px;
  max-width: 50%;
}

.main-wrapper header .main-ctrl{
  float: right;
  margin: 20px 10px 0;
}

.main-wrapper header h1.no-margin-bottom{
  margin-bottom: 0;
}
.main-wrapper header .nav{
  margin: 0 20px;
}

.main-content .nav{
  margin-top: 1em;
  border-top: 1px dotted #ccc;
}

.sub-header{
  font-size: 2rem;
  border-bottom: 1px dotted #ccc;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-weight: 100;
  margin-left: 1em;
}

.main-header{
  margin: 40px 0;
}

.main-header h1{
  font-weight: 100;
  font-size: 3.5rem;
  color: #f91;
  margin: 0 20px;
}
.main-header h2{
  font-weight: 500;
  font-size: 1.2rem;
  color: #777;
  margin: 5px 20px 0;
}

.span-row{
  margin: 10px;
}

.default-margin{
  margin: 10px;
}

.default-padding{
  padding: 20px;
}

h4.mini-title{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #555;
  margin-bottom: 1.5em;
}
.empty-exp{
  margin: 200px 0;
  font-size: 1.5rem;
  color: #999;
  text-align: center;
}
.empty-exp a{
  font-weight: 600;
}
.empty-exp .fa.large{
  font-size: 40px;
  color: #ccc;
}
.empty-exp .fa.large.block{
  display: block;
}

fieldset.with-border{
  border: 1px solid #ddd;
  padding: 5px 20px;
}
fieldset.with-border legend{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #999;
  margin: 0;
  width: auto;
  padding: 0 5px;
  border: none;
}