header.top-panel{
  background-color: #373737;
  /*border-bottom: 1px solid #ddd;*/
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /*box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3); */
}
header.top-panel .brand img{
  max-width: 100px;
  margin: 2px 0 0 10px;
}
header.top-panel .toggle-side-panel{
  color: #999;
  color: #999999;
  font-size: 18px;
  margin: -15px 0 0 -15px;
  padding: 12px 20px;
  transition: background 0.5s;
}
header.top-panel .toggle-side-panel:hover{
  background: #666;
  transition: background 0.5s;
}
header.top-panel .brand{
  margin: 15px;
}
header.top-panel ul.ctrl{
  list-style: none;
  margin: 0;
}
header.top-panel .ctrl-btn{
  padding: 10px 17px;
  color: #ccc;
  /*border-left: 1px solid #ddd;*/
  transition: all 0.8s;
}
header.top-panel .ctrl-btn.icn{
  font-size: 20px;
}
header.top-panel .ctrl-btn:hover,
header.top-panel .ctrl-btn:focus{
  background-color: #666;
  transition: all 0.5s;
}
header.top-panel .account-info,
header.top-panel .domain{
  padding: 9px 14px;
  color: #bbb;
  position: relative;
  cursor: pointer;
}
header.top-panel .domain,
header.top-panel .account-info{
  padding: 16px;
}
header.top-panel .account-info{
  padding-left: 50px;
}
header.top-panel .fa-caret-down{
  font-size: 14px;
  margin: 2px 0 0;
  float: right;
}
header.top-panel .domainname,
header.top-panel .account-info .username{
  font-weight: 600;
  font-size: 12px;
}
header.top-panel .domainname{
  padding: 0 15px;
}
header.top-panel .avatar{
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 1px;
  position: absolute;
  left: 5px;
  top: 5px;
}
