extends ../layouts/application

append head
  if env === 'production'
    link( rel='stylesheet', href='/stylesheets/caminio-ui.min.css' )
  else
    link( rel='stylesheet', href='/stylesheets/caminio-ui/dashboard.css' )

append foot
  script(type='text/javascript').
    jQuery(function($){
      caminio.translateDataFields();
    });

block content
  style.

  .main-view.dashboard
    each dashboardBox in dashboardBoxes
      !=dashboardBox
