<section id="layout" class="main-view">

  <div class="navbar-container">
    <ul class="navbar clearfix">
      <li>{{#link-to 'users' activeClass='active'}}Users{{/link-to}}</li>
      <li>{{#link-to 'groups' activeClass='active'}}Groups{{/link-to}}</li>
      <li>{{#link-to 'domains' activeClass='active'}}Domains{{/link-to}}</li>
    </ul>
  </div>

  <section id="main">
    {{outlet}}
  </section>
</section>