extends ../../../layouts/authorization

block content

  .login-box-wrap
    section.login-box
      form.auth.clearfix( action='/reset_password', method='post' )

        if message
          .message(class=(error ? 'error' : ''))=message

        .email-container
          input(type='text', name='email', placeholder=t('auth.email_address'), autocapitalize='off', autocorrect='off', style='width: 444px' )
        button.btn(type='submit', title=t('login'))
          i.fa.fa-arrow-right
        input(type='hidden', name='_csrf', value=csrf)
        section.meta-wrap
          a(href='/login')=t('back_to_login')