.copyright{
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: #999;
  right: 10px;
}
.copyright a{
  color: #999;
  text-decoration: none;
}
.desc{
  font-size: 0.8em;
  color: #555;
}
#main-box.slide-away{
  transition: all 0.5s;
  left: -500px;
  right: 110%;
}
#forgot-box.slide-away{
  transition: all 0.5s;
  right: -500px;
  left: 110%;
}
.message{
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  background: #09f;
  border-radius: 2px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
.message.error{
  background-color: #d55;
}
