<section class="main-content">

  <form class="form-horizontal caminio" data-bind="submit: saveResource">

    <header class="main-header">
      <div class="form-actions">
        <a href="#domains" data-bind="title: $.i18n.t('back')" class="btn icon-text transparent">
          <i class="fa fa-arrow-left"></i>
          <span data-bind="text: $.i18n.t('back')"></span>
        </a>
        <button type="submit" data-bind="text: $.i18n.t('save')" class="btn success"></button>
      </div>
      <!-- ko if: resource().isNew() -->
      <h1 data-bind="text: $.i18n.t('domain.create_new')"></h1>
      <!-- /ko -->
      <!-- ko ifnot: resource().isNew() -->
      <h1 data-bind="text: $.i18n.t('domain.settings')"></h1>
      <!-- /ko -->
      <h2 data-bind="html: $.i18n.t('user.editing_as_admin')"></h2>
    </header>

    <div class="form-group">
      <label for="example-text-input" class="col-md-2 control-label" data-bind="text: $.i18n.t('name')"></label>
      <div class="col-md-6">
        <input type="text" data-bind="attr: { placeholder: $.i18n.t('domain.name_exmpl') }, value: resource().name" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label for="example-text-input" class="col-md-2 control-label" data-bind="text: $.i18n.t('title')"></label>
      <div class="col-md-6">
        <input type="text" data-bind="value: resource().title" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label for="example-text-input" class="col-md-2 control-label" data-bind="text: $.i18n.t('description')"></label>
      <div class="col-md-6">
        <input type="text" data-bind="value: resource().description" class="form-control" />
      </div>
    </div>

    <h4 class="sub-header" data-bind="text: $.i18n.t('domain.owner')"></h4>

    <div class="form-group">
      <label for="example-text-input" class="col-md-2 control-label" data-bind="text: $.i18n.t('name')"></label>
      <div class="col-md-3">
        <input type="text" data-bind="attr: { placeholder: $.i18n.t('user.firstname') }, value: resource().owner().name.first" class="form-control" />
      </div>
      <div class="col-md-3">
        <input type="text" data-bind="attr: { placeholder: $.i18n.t('user.lastname') }, value: resource().owner().name.last" class="form-control" />
      </div>
    </div>

    <div class="form-group">
      <label for="example-text-input" class="col-md-2 control-label" data-bind="text: $.i18n.t('email')"></label>
      <div class="col-md-6">
        <input type="text" data-bind="attr: { placeholder: $.i18n.t('email') }, value: resource().owner().email" class="form-control" />
        <span class="help-block" data-bind="text: $.i18n.t('user.email_desc')"></span>
      </div>
    </div>


  </form>
</section>