<section class="main-content">

  <form class="form-horizontal caminio" data-bind="submit: saveResource">

    <header class="main-header">
      <h1 data-bind="text: $.i18n.t('preferences.global')"></h1>
      <h2 data-bind="html: $.i18n.t('preferences.global_desc')"></h2>
    </header>


    <h4 class="sub-header" data-bind="text: $.i18n.t('preferences.your_plan')"></h4>

    <div class="form-group">
      <label for="example-text-input" class="col-md-2 control-label" data-bind="text: $.i18n.t('preferences.monthly_price')"></label>
      <div class="col-md-3">
        <strong data-bind="resource().totalPrice"></strong>
      </div>
      <div class="col-md-3">
        <input type="text" data-bind="attr: { placeholder: $.i18n.t('user.lastname') }, value: resource().name.last" class="form-control" />
      </div>
    </div>


  </form>

</section>
